<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="register()">
    <ion-input formControlName="name" label="Nombre" type="text" labelPlacement="floating" fill="solid" placeholder="Ingrese su nombre"></ion-input>
    <ion-input formControlName="email" label="Correo electronico" type="email" labelPlacement="floating" fill="solid" placeholder="Ingrese su correo electronico"></ion-input>
    <ion-input formControlName="password" label="Contraseña" type="password" labelPlacement="floating" fill="solid" placeholder="Ingrese su contraseña"></ion-input>
  
    <ion-button type="submit ">Registrar</ion-button>
  </form>

  <ion-button [routerLink]="['/login']">Ingresar</ion-button>
  
</ion-content>
