<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding register-content">
  
  
  <div class="logo-container">
    <ion-img src="assets/logo.png" class="logo"></ion-img> 
  </div>

  <form [formGroup]="form" (ngSubmit)="register()" class="register-form">
    <ion-input formControlName="name" label="Nombre" type="text" labelPlacement="floating" fill="solid" placeholder="Ingrese su nombre"></ion-input>
    <ion-input formControlName="email" label="Correo electrónico" type="email" labelPlacement="floating" fill="solid" placeholder="Ingrese su correo electrónico"></ion-input>
    <ion-input formControlName="password" label="Contraseña" type="password" labelPlacement="floating" fill="solid" placeholder="Ingrese su contraseña"></ion-input>
  
    
    <ion-button type="submit" expand="block" class="register-button">Registrar</ion-button>
  </form>

  
  <ion-button expand="block" [routerLink]="['/login']" class="login-button">Ingresar</ion-button>
  
</ion-content>
