<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INVENTARIO</ion-title>
    <ion-img src="assets/logo.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['/formproducto']">Agregar</ion-button>
  <ion-button (click)="logout()">Cerrar Sesión</ion-button>

  <!-- Itera sobre la lista de productos y muestra un ion-card por cada producto -->
  <ion-card *ngFor="let item of productos; let i = index" class="bordered-card">
    <ion-card-header>
      <ion-card-title>{{item.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Stock: {{item.stock}}</ion-card-subtitle>
      
      
      <ion-button fill="clear" (click)="editarProducto(item.pId)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>

      
      <ion-button fill="clear" color="danger" (click)="borrarProducto(item.pId)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
