.bordered-card {
    border: 1px solid black; /* Borde negro */
    border-radius: 8px; /* Bordes redondeados opcionales */
    margin-bottom: 15px; /* Espacio entre los productos */
}

.logo {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}
